@media (max-width: 1024px) {
    .grid {
      display: block !important;
    }
  
    .grid > div {
      width: 100% !important;
      margin-bottom: 2rem;
    }
  
    .grid img {
      width: 100% !important;
      max-width: 90%;
      margin: 0 auto;
      display: block;
    }
  
    .max-w-80 {
      max-width: 100% !important;
    }
  }
  
  @media (max-width: 600px) {
  #cards-3-steps{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 4rem;

  }
}